<div class="transfer-container" fxLayoutAlign="center">
  <form
    [formGroup]="transferForm"
    (ngSubmit)="onSubmitTransfer()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field appearance="legacy">
      <mat-label>From Account</mat-label>
      <input matInput [disabled]="true" formControlName="from" />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>To Account</mat-label>
      <input matInput formControlName="to" />
    </mat-form-field>
    <div
      *ngIf="
        transferForm.get('to').touched &&
        transferForm.get('to').hasError('required')
      "
    >
      You must enter a merchant
    </div>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" id="amount" formControlName="amount" />
    </mat-form-field>
    <div
      *ngIf="
        transferForm.get('amount').touched &&
        transferForm.get('amount').hasError('required')
      "
    >
      You must enter amount
    </div>
    <div *ngIf="totalAmountIsInvalid()">
      You account balance is not sufficient
    </div>

    <div class="mt-15">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="transferForm.invalid || totalAmountIsInvalid()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
