@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.content{
  max-width:1200px;
}

header{
    background-color: white;
    color: white;
    font-weight: 600;
    border-bottom:2px solid red;
    .logo {
      margin: 25px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Kanit', sans-serif; }
