<input type="text" [(ngModel)]="filter" (ngModelChange)="applyFilter($event)" />
<br />
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th (click)="sortBy('merchant[name]')">Benificiary</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tr *ngFor="let transaction of filteredTransactions">
    <td>{{ transaction.dates.valueDate | date: "mediumDate" }}</td>
    <td>
      <img
        width="10%"
        alt="Logo"
        class="logo"
        src="./assets/icons/{{
          transaction.merchant.name.replaceAll(' ', '-') | lowercase
        }}.png"
      />
    </td>
    <td>
      <a>
        {{ transaction.merchant.name.replace(" ", "-") | lowercase }}
        {{ transaction.merchant.name }}
      </a>
    </td>

    <td>
      {{
        transaction.transaction.amountCurrency.amount
          | currency: currencyCode:"symbol"
      }}
    </td>
  </tr>

  <tr *ngIf="!filteredTransactions || !filteredTransactions.length">
    <td colspan="2">No Transactions</td>
  </tr>
</table>
<br />
